<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Builder</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section>
        <div class="imgBx">
            
            
            <img src="bg.jpg">
        </div>
          <div class="bg-text">
      <h1>RESUME BUILDER</h1>
    </div>
        <div class="contentBx">
            <h1>Create A Resume</h1><br>
            <h3>Select any Template:</h3>
            <div class="row">
                <div class="column">
                  <img src="temp1.png" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                  <img src="temp2.png" alt="Forest" style="width:100%">
                </div>
                <div class="column">
                  <img src="temp3.png" alt="Mountains" style="width:100%">
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <img src="temp2.png" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                  <img src="temp3.png" alt="Forest" style="width:100%">
                </div>
                <div class="column">
                  <img src="temp1.png" alt="Mountains" style="width:100%">
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <img src="temp2.png" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                  <img src="temp3.png" alt="Forest" style="width:100%">
                </div>
                <div class="column">
                  <img src="temp1.png" alt="Mountains" style="width:100%">
                </div>
              </div>
        </div>
    </section>
</body>
</html>