.resume .info2{
    display:flex;
    padding: 1rem 2rem;
    overflow: hidden;
    background-color: #ddfdf9;
    
    /* text-align: center; */
}
.resume .info2 > img{
    margin-right: 1rem;
    border-radius: 50%;
    border-style:solid;
    border-color: #082333;
    border-width: 4px;
    height: 12rem;
    width: 12rem;
}
.main-info2{
    /* display:flex; */
    text-align: center;
    margin-top:20px;
    padding-left: 60px;
}
.main-info2 h1{
    
    font-weight: 400;
    color: #34678c;
    letter-spacing: 3px;
    font-family: Ubuntu, sans-serif;
    font-size: 60px;
    text-align: center;
}
.main-info2 h3{
    
    font-size: 20px;
    margin-bottom: 60px;
    color: #403f3f;
    font-weight: 500;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}
.main-info2 p{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    font-weight: 700;
    text-align: justify;
    color: #4d5156;
    text-align: center;
}
.extrainfo2{
    padding: 1rem 2rem;
    padding-left:10% ;
    border-top: 1px solid #082333;
    border-bottom: 1px solid #082333;
    
    border-width: 4px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.extrainfo2 a{
    color: black;
    font-size: 11px;
    font-weight: 600;
    margin: 5px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.extrainfo2 a .MuiSvgIcon-root{
    margin-right: 10px;
    font-size: 20px;
    color: #34678c;
}
.section2{
    display: flex;
    padding: 2rem;
    background-color: #ddfdf9;
    
    
    
}
.section2 .left-section2{
    flex: 0.5;
    background-color: rgb(190, 238, 231);
    border-style: solid;
    border-color: #d4f8f6;
    
}
.section2 .right-section2{
    flex: 0.5;
    overflow: hidden;
    word-wrap: break-word;
    background-color: rgb(190, 238, 231);
    border-style: solid;
    border-color: #d4f8f6;
    margin-right: 6px;
}
.right-section2 .skills{
    background-color: rgb(190, 238, 231);
    
    
    margin-left: 6px; 
    
    
}
.right-section2 .skill{
    background-color: rgb(190, 238, 231);
    border-style:solid;
    border-color: black;
    border-width: 1px;
    padding-right: 80px;
    border-radius: 10%;
    
}
.right-section2 .projects{
    background-color: rgb(190, 238, 231);
    margin-left: 6px;
}
.right-section2 .achiec{
    background-color: rgb(190, 238, 231);
    margin-left: 6px;
    margin-bottom: 15%;
}
.section-heading2 {
    text-transform: uppercase;
    font-family: Georgia, serif;
    border-style:solid;
    font-size: 20px;
    color: #34678c;
    margin-bottom: 1rem;
    padding: 10px;
}
.section2 .left-section2{
    padding: 0rem 1rem 0 0;
    overflow: hidden;
    word-wrap: break-word;
    
}
.left-section2 div{
    margin-bottom: 1rem;
    background-color: rgb(190, 238, 231);
    margin-left: 6px; 
    
}
.left-section2 .experiences{
background-color: rgb(190, 238, 231);


}
.left-section2 .div{
    background-color: rgb(190, 238, 231);
    
    }

.skills div {
    display: inline-block;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.skills div p {
    display: inline;
    background: #99b3c5;
    font-size: 12px;
    /* font-weight: bold; */
    padding: 2px 25px 2px 11px;
    border-radius: 4px;
    margin-right: 5px;
    position: relative;
    color: white;
    font-weight: 500;
}
.attachments .MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    color: #f26464;
    font-size: 15px;
    transform: rotate(145deg);
}

.technology-used{
    margin-left:10px
}
